In [3]:
import pandas as pd 
import seaborn as sns 
import numpy as np

In [6]:
ar = np.random.randn(20, 4) 
print(type(ar))
print(ar)

<class 'numpy.ndarray'>
[[ 0.60765677 -0.2353568   0.15212403  0.86883687]
 [-0.36346493 -0.4408509   0.83678058  1.59978319]
 [-0.44674263  1.03253842  0.39079213  1.30957778]
 [-0.1408724  -0.95158224 -0.33601811 -1.1564522 ]
 [-0.0880272   1.70939875 -0.12525031 -0.27061949]
 [ 1.49348029  0.60246345 -0.94545813 -1.53205284]
 [-0.94350537  1.10765971 -0.96405445 -0.07802708]
 [-0.43185913 -0.04280313 -0.05671707  1.25130402]
 [ 0.93222581 -0.60983557 -0.69615749  0.62174655]
 [ 0.49580765 -1.03513925  0.46723353 -0.5904857 ]
 [ 0.5940585  -2.20780637 -0.26437971 -0.62994191]
 [ 0.89038252 -1.87597458 -0.68044918  0.06354747]
 [-1.46207966 -0.27457506  0.05341675  0.30170657]
 [ 1.0231541   0.97448975 -0.63679439 -0.62424891]
 [ 0.10517063  1.75386738  1.70821986  1.62834188]
 [-0.63457092 -0.04114451  0.18785586 -0.11176159]
 [-0.15299401 -0.68908636  0.68612728  1.5419622 ]
 [-1.4069049  -0.41020935  1.08193784  0.62916962]
 [-0.36597155  1.28280103  1.23561481  1.87079068]
 [ 0.26917187  1.36576787 -0.50034508 -0.86415652]]

In [7]:
df = pd.DataFrame(ar, columns=['a', 'b', 'c', 'd']) 
df['e'] = pd.Series([    'one', 'one', 'one', 'one', 'one', 'one', 'two', 'two', 'two', 'two',    'two', 'two', 'two', 'two', 'three', 'three', 'three', 'three', 'three',    'three' ]) 
df

           a         b         c         d      e
0   0.607657 -0.235357  0.152124  0.868837    one
1  -0.363465 -0.440851  0.836781  1.599783    one
2  -0.446743  1.032538  0.390792  1.309578    one
3  -0.140872 -0.951582 -0.336018 -1.156452    one
4  -0.088027  1.709399 -0.125250 -0.270619    one
5   1.493480  0.602463 -0.945458 -1.532053    one
6  -0.943505  1.107660 -0.964054 -0.078027    two
7  -0.431859 -0.042803 -0.056717  1.251304    two
8   0.932226 -0.609836 -0.696157  0.621747    two
9   0.495808 -1.035139  0.467234 -0.590486    two
10  0.594058 -2.207806 -0.264380 -0.629942    two
11  0.890383 -1.875975 -0.680449  0.063547    two
12 -1.462080 -0.274575  0.053417  0.301707    two
13  1.023154  0.974490 -0.636794 -0.624249    two
14  0.105171  1.753867  1.708220  1.628342  three
15 -0.634571 -0.041145  0.187856 -0.111762  three
16 -0.152994 -0.689086  0.686127  1.541962  three
17 -1.406905 -0.410209  1.081938  0.629170  three
18 -0.365972  1.282801  1.235615  1.870791  three
19  0.269172  1.365768 -0.500345 -0.864157  three

In [2]:
sns.scatterplot(df['a'], df['b'], hue=df['e'])

AttributeError: module 'seaborn' has no attribute 'scatterplot'