In [1]:
import pandas as pd
import numpy as np

In [2]:
docAddress = r"D:\Data\2019价格监测系统\历史数据\旬度价格数据clean.csv"
df = pd.read_csv(docAddress,encoding='UTF-8-SIG',engine='python')

In [5]:
import chardet
with open(docAddress, 'rb') as f:
    print(chardet.detect(f.read())['encoding'])

UTF-8-SIG

In [3]:
df.shape

(1430983, 14)

In [4]:
df.head()

,v1,v2,v3,v4,v5,v6,v7,v8,v9,quesid,regionid,taskdate,row,v12
0,普通白菜,---,2.4,NaN,NaN,NaN,NaN,NaN,NaN,1-490,110112,20120301,4,NaN
1,茄 子,长茄子,8.0,NaN,NaN,NaN,NaN,NaN,NaN,1-490,110112,20120311,24,NaN
2,番 茄,大果型和中果型番茄,6.0,NaN,NaN,NaN,NaN,NaN,NaN,1-490,110112,20120401,18,市场价格波动
3,茄 子,长茄子,6.0,NaN,NaN,NaN,NaN,NaN,NaN,1-490,110112,20120401,24,市场价格波动
4,黄 瓜,普通黄瓜,5.0,NaN,NaN,NaN,NaN,NaN,NaN,1-490,110112,20120411,12,市场变动

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1430983 entries, 0 to 1430982
Data columns (total 14 columns):
v1          1430983 non-null object
v2          820002 non-null object
v3          1282075 non-null float64
v4          886601 non-null float64
v5          997784 non-null float64
v6          988513 non-null float64
v7          879555 non-null float64
v8          944812 non-null float64
v9          947952 non-null float64
quesid      1430983 non-null object
regionid    1430983 non-null int64
taskdate    1430983 non-null int64
row         1430983 non-null int64
v12         549644 non-null object
dtypes: float64(7), int64(3), object(4)
memory usage: 152.8+ MB

In [7]:
df.describe()

,v3,v4,v5,v6,v7,v8,v9,regionid,taskdate,row
count,1.282075e+06,886601.000000,997784.000000,988513.000000,879555.000000,944812.000000,947952.000000,1.430983e+06,1.430983e+06,1.430983e+06
mean,1.851168e+00,1.996028,0.081149,-1.027716,2.077280,0.024479,-3.947664,4.115680e+05,2.015094e+07,2.184324e+01
std,1.961086e+00,1.953000,1.818122,65.657963,2.124318,1.593218,34.819202,1.336887e+05,2.163743e+04,1.240825e+01
min,0.000000e+00,0.000000,-303.000000,-100.000000,0.000000,-594.600000,-100.000000,1.101120e+05,2.012011e+07,2.000000e+00
25%,0.000000e+00,0.000000,-0.200000,-9.680000,0.500000,-0.170000,-6.670000,3.405230e+05,2.013080e+07,1.100000e+01
50%,1.600000e+00,1.800000,0.000000,0.000000,1.900000,0.000000,0.000000,4.306210e+05,2.015060e+07,2.100000e+01
75%,2.900000e+00,3.000000,0.400000,4.290000,3.000000,0.100000,0.000000,5.108120e+05,2.017060e+07,3.200000e+01
max,3.080000e+02,308.000000,304.200000,29900.000000,600.000000,308.000000,7900.000000,6.542230e+05,2.019070e+07,4.400000e+01

In [8]:
df['v1']=df['v1'].str.replace(' ', '')

In [9]:
df['v2']=df['v2'].str.replace(' ', '')

In [10]:
writer = r'D:\Data\2019价格监测系统\历史数据\旬度价格数据clean去空格.csv'
df.to_csv(writer, index=False)

In [11]:
docAddress = r"D:\Data\2019价格监测系统\历史数据\旬度价格数据clean2去空格.csv"
df = pd.read_csv(docAddress,encoding='UTF-8-SIG',engine='python')
df.head()

,v1,v2,v3,v4,v5,v6,v7,v8,v9,quesid,regionid,taskdate,row,v12
0,普通白菜,---,2.4,NaN,NaN,NaN,NaN,NaN,NaN,1-490,110112,20120301,4,NaN
1,茄子,长茄子,8.0,NaN,NaN,NaN,NaN,NaN,NaN,1-490,110112,20120311,24,NaN
2,番茄,大果型和中果型番茄,6.0,NaN,NaN,NaN,NaN,NaN,NaN,1-490,110112,20120401,18,市场价格波动
3,茄子,长茄子,6.0,NaN,NaN,NaN,NaN,NaN,NaN,1-490,110112,20120401,24,市场价格波动
4,黄瓜,普通黄瓜,5.0,NaN,NaN,NaN,NaN,NaN,NaN,1-490,110112,20120411,12,市场变动

In [13]:
df.loc[df['v2']=="---",'v2']=df['v1']
df.head()

,v1,v2,v3,v4,v5,v6,v7,v8,v9,quesid,regionid,taskdate,row,v12
0,普通白菜,普通白菜,2.4,NaN,NaN,NaN,NaN,NaN,NaN,1-490,110112,20120301,4,NaN
1,茄子,长茄子,8.0,NaN,NaN,NaN,NaN,NaN,NaN,1-490,110112,20120311,24,NaN
2,番茄,大果型和中果型番茄,6.0,NaN,NaN,NaN,NaN,NaN,NaN,1-490,110112,20120401,18,市场价格波动
3,茄子,长茄子,6.0,NaN,NaN,NaN,NaN,NaN,NaN,1-490,110112,20120401,24,市场价格波动
4,黄瓜,普通黄瓜,5.0,NaN,NaN,NaN,NaN,NaN,NaN,1-490,110112,20120411,12,市场变动

In [14]:
writer = r'D:\Data\2019价格监测系统\历史数据\旬度价格数据clean3补充小类.csv'
df.to_csv(writer, index=False)